 @import url('https://fonts.googleapis.com/css?family=Play');
 @import url('https://fonts.googleapis.com/css?family=Open+Sans');
 @import url('https://fonts.googleapis.com/css?family=Coda+Caption:800');
 @import url('https://fonts.googleapis.com/css?family=Port+Lligat+Slab');
 @import url('https://fonts.googleapis.com/css?family=Sansita');


 @font-face {
  font-family: Gotham;
  src: url(GothamRounded-Book.otf);       
}   
html, body{
  font-family: 'Sansita', sans-serif;
  margin:0px;
  padding:0px;
  height:100%;
  color: #FFF; 
  font-size: 12px;
  /*background: #0c0d11; /* Old browsers */
  /*background: -moz-linear-gradient(top, #2D4A5B 0%, #091E2B 100%); /* FF3.6-15 */
  /*background: -webkit-linear-gradient(top, #2D4A5B 0%,#091E2B 100%); /* Chrome10-25,Safari5.1-6 */
  /* background: linear-gradient(to bottom, #6d0606 0%,#d41204da 70%); */
   background: linear-gradient(to bottom, #4d2b00 0%,#1c0404 80%);
   /*background: linear-gradient(to bottom, #000000 0%,#1f1f1f 80%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2d38', endColorstr='#262e4a',GradientType=0 ); /* IE6-9 */
  background-attachment: fixed;
}



.color-yellow{
  color: #FEE064;
}
.noborder{
  border-left: 0px;
  border-right: 0px;
}
.noborder-right{
  border-right: 0px;
}
.noborder-left{
  border-left: 0px;
}
#table-central{
 border-collapse: collapse;
 width: 100%;
 text-align: center;
 background: #000000;

}
#text-color-hora-tablecenter{
  color: rgb(192, 193, 26); 
  font-size: 13px; 
  font-weight: 100;
}
#textequipos-tablecenter{
  text-align: left; 
  width: 28%; 
  font-size: 13px; 
  font-weight: 100;
}
#thead-central{
 border-collapse: collapse;
 width: 100%;
 text-align: center;
/* background: linear-gradient(#1c2d38 0%,#044065 80%); */
background:#ff4600; 
text-shadow: rgb(0, 0, 0) 2px 2px 4px; 

}
/* button{
  font-family: 'Gotham', sans-serif;
} */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 4px;
    text-align: center;
    /* background: #320605; */
    /* background: #1f2122; */
    background: linear-gradient(#ff5200 5%,#3c3c3c9c 38%);
    
      
}
thead{
  background: rgba(255, 255, 255, 0.082);  
}
tr{
  height: 20px;
  
}
th, td {
    border: 1px solid rgba(255,255,255,0.1);
    border-collapse: collapse;
    overflow: hidden;
    padding: 0px;          
    
} 
input{
  background: #FFF;
  color: #000000;
  outline:none;
  border:hidden;
  box-sizing:border-box;
  padding: 2px;
  height:30px;
}
/* -------------------------------botones tabla */
 .botn{
   
    margin:2px;
    
    padding: 4px;
    display: inline-block;
    background: #ffa500;
    text-align: center;
    font-size: 10px;
    border-radius: 5px;
    color: #000;

 }
 .botnone{
    height: 15px; 
    margin:2px;
    width: 28px;
    padding-top: 4px;
    display: inline-block;
    background: #83808027;
    text-align: center;
    font-size: 10px;
    border-radius: 4px;
    color: #000;

 }
/* .botn{
  height: 19px; 
  margin:2px;
  width: 27px;
  padding-top: 2px;
  display: inline-block;
  background: #f4f4f4;
  text-align: center;
  font-size: 10px;
  border-radius: 3px;
  color: #000000;

} */

.botnn{
  height: 19px; 
  margin:2px;
  width: 30px;
  padding-top: 7px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  border: #4d2b00;
  color: rgb(255, 255, 255) !important;
  font-weight: 100;
 
}
a:link {
    text-decoration: none;
}

.btn{
  opacity:1; 
  cursor: pointer;}
.btn:hover{
  opacity:1;
  }
  .botn:hover{
    opacity:1;
    color: #ffa500;
    background: #3a3a3a;}
.btn:active{opacity:1;}
.headcont{
  height: 35px;
  position: absolute;
  top: 23px;
  right: 0;
  width: auto;
}
.boton-color-others{
  color: black; 
  background-color: darkorange; 
  border-radius: 10px;
}
#encabezado{

    width: 100%;
    background: darkred;
    height: 20px;
    text-align: center;
    font-size: 16px;
    margin-top: 38px;
}
#btnLogin{
  float:right;
  box-sizing:border-box;
  width: 100px;
  height: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
  background: #d95422;
  font-size: 14px;
  border: hidden; 
  border-radius: 20px;
}
#pass, #email{

  float: right;
  box-sizing: border-box; 
  padding: 5px;
  height: 30px;
  width: 150px;
  border:hidden;
  outline:none;
  margin-right: 5px;

}
#panelright-sub{
  padding: 5px; 
  position: relative; 
  text-align: left;
}
#cont-cupon{
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgb(255, 70, 0); 
  text-shadow: rgb(0, 0, 0) 2px 2px 4px;
}
.btn-confirm{
  text-shadow: rgb(0, 0, 0) 2px 2px 4px; 
  width: 100%; height: 40px;
  color: white; 
  background: rgb(255, 70, 0); 
  font-size: 14px; 
  border: hidden;
}
.btn-confirm-modal{
  width: 100%; 
  height: 40px; 
  color: white; 
  background: orange; 
  font-size: 14px; 
  border: hidden;
}
#color-headermodal, #color-bodymodal, #color-footermodal{
  background: rgb(5, 5, 5);
}
#color-titulo-modal{
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-align: center;
}
#cont-textcolor-id-liga{
  color: rgb(252, 233, 22); 
  font-size: 15px;
}
#text-confirm{
  margin-top: 20px;
}
.part{
  font-weight: 100; 
  text-shadow: rgb(0, 0, 0) 2px 2px 4px;
}
#contbtn-delete{
  display: table-cell; 
  right: 1px;
  color: white;
  float: right;
}
.btn-delete{
  margin-top: 0px; 
  padding: 6px;
}
#text-liga{

  display: block; 
  font-size: 15px; 
  color: rgb(255, 255, 255);
}
#text-equipos{
  display: block; 
  font-size: 14px; 
  color: rgb(254, 224, 100);
}
#text-fecha{
  display: inline;
  padding-top: 10px; 
  font-size: 12px;
}
#cont-apuesta{
  margin: 0px; 
  display: inline;
}
#text-apuesta{
  font-size: 18px; 
  color: white; 
  float: right;

}
#texto-apuesta{
  width: 70px; 
  margin-left: 10px; 
  display: inline;
}
#sportboton{
  position: absolute; 
  bottom: 7px; 
  font-size: 12px; 
  width: 100%; 
  left: 0px; 
  text-align: center;
}
.countriesfav{
  display: table; 
  width: 100%; 
  max-height: 600px;
}
.text-countriesfav{
  width: 126px; 
  color: white; 
  display: table-cell; 
  font-size: 14px;
}
#texto-deportes{
  width: 70px; 
  margin: 1px; 
  background: rgb(0, 0, 0); 
  min-height: 420px;
}
#texto-paises{
  text-shadow: rgb(0, 0, 0) 2px 2px 4px; 
  display: table-cell; 
  vertical-align: top; 
  width: 150%; 
  max-height: 425px;
}
#amount{
  background-color: rgb(199, 199, 199);
  box-sizing: border-box; 
  height: 30px; 
  width: 140px; 
  border: hidden; 
  outline: none; 
  text-align: right; 
  margin-left: 59px;
}
#text-logro{
  display: block; 
  font-size: 14px; 
  color: rgb(254, 224, 100);
}
#context-option{
  display: inline; 
  padding-top: 10px; 
  color: rgb(255, 165, 0); 
  font-size: 12px;
}
#text-option{
  display: table-cell;
}
.ion-android-stopwatch{
     margin-left: 30px;
      margin-right: 35px;
    font-size: 20px;
}
.ion-stats-bars{
  font-size: 20px;
}
.ion-social-usd, .ion-android-arrow-dropdown, .ion-power, .ion-android-add-circle{
  margin-left: 10px;
}
.ion-ios-alarm{
   margin-left: -6px;
}

.deposito{
  background:orange;
  text-shadow: rgb(0, 0, 0) 2px 2px 4px;
  width: 100%; 
  height: 37px; 
  color: white; 
  font-size: 14px; 
  border: hidden;
  
}
.format{
  text-shadow: rgb(0, 0, 0) 2px 2px 4px; 
  width: 100%;
   height: 37px;
    color: white; 
    background: rgb(255, 70, 0); 
    font-size: 14px; 
    border: hidden;
}
.textusuario{
  text-shadow: rgb(0, 0, 0) 2px 2px 4px;
}
.usuario{
  background: rgba(227, 231, 6, 0.411);
}

.salir{
  background: rgba(146, 1, 1, 0.98);
}
.contenedor-total{
  text-align:center;
  float:left;
  height:auto; 
  width:100%;
}
.contenedor-sub{
  display:inline-block;
  width: 98%;
  height: 100%;
  position: relative;
  text-align: left;
}
.header{
  float:left;
  position: relative;
  height:100px;
  width:100%;
  box-sizing: border-box;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  background-image: url("/img/fond001.jpg");
}
.header-menu{
  float:left;
  position: relative;
  height:30px;
  width:100%;
  box-sizing: border-box;  
  text-align: center;
  background: linear-gradient(to bottom, #ff4600 50%,#a82d00 100%);
}
.contenedor-login{

  display:inline-block;
  width: 95%;
  height: 100%; 
  position:relative;

}

.img-logo{

  height: 90%; 
  position: absolute;
  top: 11px;
  left: 10px;

}

.proximos, .perfil, .envivo, .resultados{
  
  margin-right: 10px;
}

/* ====================ojo==================== */
.panelright{
  /* height:px; */
  border-bottom: 1px solid rgba(255,255,255,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
  display: block;

}


.modal-right{
  position: fixed;
  width:400px;
  height:100%;
  right:0;
  top:0;
  bottom:0;
  left:0;
  margin: auto auto;
  background: #3d476c; /* Old browsers */
  background: -moz-linear-gradient(top, #000000 0%, #2b0909 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 0%,#2b0909 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 0%,#2b0909 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d476c', endColorstr='#262e4a',GradientType=0 ); /* IE6-9 */
  background-attachment: fixed;
}
.left-panel{
  float:left;
  box-sizing: border-box;
  width:220px;
  overflow: auto;
  padding-top: 10px;
  padding-right: 10px;

}
.left-panel .item{
  padding:10px;background:rgba(0,0,0,0.01);
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
}
.left-panel .item:nth-child(odd){
  background:rgba(0,0,0,0.03);
}

.left-panel .item-container{
  padding:5px;
  padding-left: 15px;
  background:rgba(255,255,255,0.01);
  font-size: 10px;
}
.left-panel .item-container .item{
  background:rgba(0,0,0,0.07);
  border-bottom: 1px solid #DDD;
}
.left-panel .item-container .item:nth-child(even){
  background:rgba(0,0,0,0.02);
  border-bottom: 1px solid #DDD;
}

.left-panel .item-container .item .square{
  position: absolute;
  color: #096C47;
  font-size: 12px;
  top:2px; right:2px;
  opacity: 0;
}
.left-panel .item-container .item.selected .square{
  position: absolute;
  color: #096C47;
  font-size: 12px;
  top:2px; right:2px;
  opacity: 1;
}

.tabcontent{
  display: none;
  vertical-align: top;
  width: 150px;
  max-height: 500px;
}
#buscar{
  background:rgba(255,255,255,0.1);
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ff4600;
}
.contenedor-deportes{
background: rgba(255,255,255,0.1);
}

.contenedor-deportes2{
  display:table;
  width: 100%;
  background: rgba(0, 0, 0, 0.37);
  border: 1px solid #ff4600;

  
}
/* #contenedor-deportes{
  background:#ff1307;
} */

#contenedorsub-deportes{
  display:table-cell;
  width: 60px;
}
#contenedor-paises{
  display: table-cell;
  vertical-align: top;
  width: 150%;
  max-height: 500px;
}
#table-textcenter{
  text-align: left; 
  font-size: 14px; 
  font-weight: 100; 
  text-shadow: rgb(0, 0, 0) 2px 2px 4px;
}
#table-center-text-liga{
  margin-left: 83px;
  margin-top: -13px;
  height: auto;
}
#text-center1x2{
  word-spacing: 20pt; font-size: 12px; font-weight: normal;
}
#text-center1x122x{
  word-spacing: 15pt; font-size: 12px; font-weight: normal;
}
#text-center-mas-menos{
  word-spacing: 8pt; font-size: 12px; font-weight: normal;
}
#text-center-gg-ng{
  word-spacing: 8pt; font-size: 12px; font-weight: normal;
}
#text-center-otros{
  word-spacing: 15pt; font-size: 12px; font-weight: normal;
}
.center-panel{
  float:left;
  box-sizing: border-box;
  width:calc(100% - 500px);
  height: auto;
  overflow: auto;
  min-width: 650px;
  padding-top: 10px;
}
.center-panel2,  .carousel-slider
{
 height: 250px;

 
}

.perfil{
  
  height: 480px;
  margin-top: 0px;
  padding: 20px;
}
#proximos{
  padding: 5px;
  font-size: 15px;
  margin-top: 10px;
  /* font-weight: bold;  */
  background: #ffff00;
  border: #262626 solid 1px;
    /* background: #320605; */
    /* background: #1f2122; */
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  
}
#panel-usuario{
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  background: rgba(255, 70, 0, 0.52);
  text-transform: uppercase;
}
#imagen-perfil{
  height: 75%; 
  margin-top: 25px;
}
#nombre, #apellido, #direccion, #pais{
  
  margin: 10px;
  border-radius: 5px;
  width: 40%;
  background: rgba(255,255,255,0.1);
}
#telefono{
 
  margin: 10px;
  border-radius: 5px;
  width: 60%;
  background: rgba(255,255,255,0.1);
}
#email2{

  margin: 10px;
  border-radius: 5px;
  width: 80%;
  background: rgba(255,255,255,0.1);
}
.foto{
      height: 100%;
    width: 103%;
    /* margin-top: 15px; */
    /* margin-left: 10%; */
    border-radius: 10px;
}
.formulario{
  height: 70%;
  width: 99%;
  border: 1px solid rgba(255, 70, 0);
  /* margin: 10px; */
  border-radius: 5px;
  font-size: 13px;
  margin-top: 10px;
}
#contenedor-form{
  width: 97%;
  height: 250px;
  margin-top: 38px;
  margin-left: 12px;
}
#form{
  float: left;
  width: 48%;
  height: 250px;  
}
#form2{
  float: right;
  width: 48%;
  height: 250px;
  margin-left: 10px; 
}
.iconuser{
  height: 71px;
  width: 80px;
  /* background: rgba(250, 250, 248, 0.151); */
  /* border: 1px solid rgba(255, 70, 0); */
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  position: absolute;
  /* align-content: center; */
  padding: -21px;
  margin-top: 19px;
}
.lineavertical{ 
  width: 50%;
  height: 96%;
  margin-left: 50%;
  margin-top: -269px;
  border-top-right-radius: 10px;
  border-left: 1px solid;  
}
.right-panel{
  margin-top: 0px;
  float:right;
  box-sizing: border-box;
  width:280px;
  overflow: auto;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 12px;
}

.header-menu .menu-item{
  display:inline-block;
  padding:11px;
  padding-left:15px;
  padding-right:15px;
  font-size:16px;
  box-sizing: border-box;
  cursor: pointer;
  padding-top: 4px;
  color: #ffff00;
}
.header-menu .menu-item.active{
  color:#FFF;
  text-shadow: 2px 2px 4px #000000;
}


.matches-panel{
  margin-top: -1px;

}


.sportbutton{
  position:relative;height:60px;
  border-right: 3px solid #ff4600;
  background-position: center 10px;
  background-size: 25%;
  background-repeat: no-repeat;
  opacity:0.4;
}
.sportbutton.active{
  opacity:1;
  border-right: 2px solid #FEE064;
}

.country{
  padding-left:10px;
  height: 40px;
  border-right: 2px solid rgba(255,255,255,0.5);
  vertical-align: middle;
  opacity:0.4;
  
}
.country.active{
  border-right: 2px solid red;
  opacity:1;
}
.country:active{
  border-right: 3px solid red;
  opacity:1;
}
.country:focus{
  border-right: 3px solid  red;
  opacity:1;
  cursor: pointer;
}
.country:hover{
  border-right: 3px solid  #FEE064;
  opacity:1;
  cursor: pointer;
}


/* Style the navbar */

.navbar{

  height: 35px;
    position: absolute;
    top: 23px;
    right: 0px;
    width: auto;
   
    

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background:rgba(243, 243, 243, 0.18);
    border-radius: 5px;
    font-size: 14px;
}

li {
    float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background:rgba(249, 250, 249, 0.247);
    cursor: pointer;
 
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
     /* background:rgba(90, 7, 4, 0.877); */
    background:rgb(255, 70, 0);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.596);
    z-index: 1;
    border-radius: 4px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background:rgba(255, 255, 0, 0.23);}

.dropdown:hover .dropdown-content {
    display: block;
     
}

.reloj {
  
  font-size: 14px;
  padding: 9px;
   width: 100px;
  text-align: center;
  /* margin-right: 24px; */
  color: #ffffff;
   
}

  .segundos{
  display: inline-block;
  font-size: 10px;
  font-style: normal;
  font-family: play; 
  position: absolute;
}

.horas, .minutos{
  font-family: play; 
  font-style: normal;
}

.ampm{
  display: inline-block;
  font-size: 10px;
  font-style: normal;
  font-family: play; 
  position: absolute;
   margin-left: 15px;  
  margin-top: 0px;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
        color: black;
}
table#t01 tr:nth-child(odd) {
    background-color: #fff;
        color: black;
}
table#t01 th {
    color: white;
    background-color: black;
}
.Espera{
      background: #1150c7;
      color:white;
}
.Anulado{
      background-color: rgb(117, 117, 117);
}
.Gano{
      background-color: green;
}
.Perdio{
    background-color: red;
}


/* .modal-content{
  width: 150%;
 
  

} */

/* ================================================Modal========================================================= */
 .Modal {
    top : 50%;
    left : 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* background:rgba(255, 255, 0, 0.23); */
    background: rgb(253, 253, 237);
    position: absolute;
    color: black;
    
    /* top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px; */
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rebeccapurple; */
  }

@media screen{
.tick{
     
  border: 1px solid rgb(10, 10, 10);
  width:auto;
  color: white;
  font-weight: 100;
  /* margin-top: -90px; */
  /* display: none; */
  /* position: absolute; */
  /* height: 400px; */
  
}
#logoprint{
      /* border: 1px solid rgba(245, 247, 248, 0.527); */
    /* width: 208px; */
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#logo-print{

      width: 100%;
}

#cliente-print{
   border: 1px solid rgb(255, 62, 62);
   margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
}
#cuota-print{
  border: 1px solid rgb(255, 62, 62);
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
}
#ganancia-print{
border: 1px solid rgb(255, 62, 62);
    margin-left: 10px;
    margin-right: 10px;
        margin-bottom: 10px;
    

}
.ga-imprimir{

 
    text-align: center;
   
    font-size: 35px;


}
.tk-imprimir{


  margin-right: 5px;
  

}
.tot{
    width: 54rem;
    border-collapse: collapse;
    border: 1px solid rgb(255, 62, 62);
    /* display: block; */
    font-size: 14px;
    /* float: left; */
    text-align: left;
    font-weight: 100;
      /* display: block; */
}
   /* .tick{
    display:none;
  }  */
/* 
  .modal,.fade,.in{
         z-index: 0;
    padding-left: 1px;
  } */

}

.stk{
  display: inline-flex;
}
.mm{
      background: #0c0c0cd6;
      font-size: 16px;
      text-shadow: rgb(0, 0, 0) 2px 2px 4px;
    
      
}
  .cuponrigth{
     padding: 10px;
     /* font-weight: bold;  */
     color: #FEE064;
     background: black;
    
     font-size: 16px;
  }
/* ==========================================ticketprint================================== */
@media print {

  .navbar, .headcont, .header-menu, .center-panel, .btn-confirm, .img-logo, .panelright, .stk, .right-panel, .countriesfav, .tabcontent, .contenedor-deportes, #buscar, .reloj, .dropdown, .country, .btn,.swal-overlay{
    display: none;
}

.tick{
     
  border: 2px solid rgb(10, 10, 10);
  width:100%;
  color: black;
  margin-top: -36px;
      margin-left: -23px;
  /* display: none; */
  position: relative;
  /* height: 400px; */
  
}
#logoprint{
      /* border: 1px solid rgba(245, 247, 248, 0.527); */
    /* width: 208px; */
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#logo-print{

      width: 100%;
}

#cliente-print{
   border: 1px solid rgb(10, 10, 10);
   margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
#cuota-print{
  border: 1px solid rgb(10, 10, 10);
    margin-left: 10px;
    margin-right: 10px;
}
#ganancia-print{
border: 1px solid rgb(10, 10, 10);
    margin-left: 10px;
    margin-right: 10px;
        margin-bottom: 10px;
    

}
.ga-imprimir{

 
    text-align: center;
    margin-top: 7px;
    font-size: 21px;


}
.tk-imprimir{


  margin-right: 5px;
  

}
.tot{
       width: 36rem;
       font-weight: 100;
      border-collapse: collapse;
      border: 1px solid rgb(10, 10, 10);
      /* display: block; */
}
}

.swal-modal {
  background-color:#262626;
  color:white;
  border: 3px solid white;
}
.swal-title {
  /* margin: 0px; */
  /* font-size: 16px; */
  /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21); */
  /* margin-bottom: 28px; */
  color: lightgray;
}
.swal-icon--success:before, .swal-icon--success:after,.swal-icon--success__hide-corners{
  background-color: transparent;
}
.swal-text {
  /* background-color: #FEFAE3; */
  /* padding: 17px; */
  /* border: 1px solid #F0E1A1; */
  /* display: block; */
  /* margin: 22px; */
  text-align: center;
  color: white;
}
.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: rgb(255, 247, 0);
  color:black;
  font-size: 12px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
.footer{
  float:left;
  position: relative;
  height:100px;
  width:100%;
  box-sizing: border-box;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  margin-top: 15px;
  background: #000;
}


